html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background-color: #333;
}

h1 {
  height: 2rem;
  font-size: 1rem;
  font-weight: normal;
  z-index: 1;
  padding: 0.1rem 1rem;
  margin: 0 2px;
}
section {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
}

.container {
  padding: 6px 12px;
  width: auto;
}

#visualization {
  position: absolute;
  top: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  height: auto;
}
#visualization:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
   background: #333 url('../images/hand.png') no-repeat 50% 30%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#band {
  position: absolute;
  top: calc(50% + 120px);
  left: calc(50% - 140px);
  width: 280px;
  height: 46px;
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
}

.slot {
  width: 30px;
  height: 26px;
  display: inline-block;
  margin: 0 1px;
  position: relative;
  vertical-align: middle;
  border-radius: 3px;
}

.slot.isSelf {
  margin: 0 9px;
  border: 3px solid #fff;
}

.led {
  width: 28px;
  height: 24px;
  border: 1px solid #333;
  border-radius: 3px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.myled {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 3px;
  margin: 0 1px;
}

#led0 {
  background-color: #ff00ff;
}
#led1 {
  background-color: #ffff00;
}
#led2 {
  background-color: #00ffff;
}
#led3 {
  background-color: #00ff07;
}
#led4 {
  background-color: #772cb6;
}
#led5 {
  background-color: #ff00ff;
}

.led-overlay {
  margin: 0 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 22px;
  background-image: url(../images/animal-icons.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#myled-overlay {
  background-image: none;
}
#led0-overlay {
  /* the lion */
  background-position: -3px 2px;
}
#led1-overlay {
  /* the shark */
  background-position: -3px -199px;
}
#led2-overlay {
  /* penguin */
  background-position: -2px -449px;
}
#led3-overlay {
  /* frog */
  background-position: -2px -424px;
}
#led4-overlay {
  /* elephant */
  background-position: -3px -273px;
}
#led5-overlay {
  /* chicken/rooster */
  background-position: -3px -374px;
}

@media (orientation: landscape) {
  #visualization:before {
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: transparent url('../images/hand.png') no-repeat 50% 50%;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  #band {
    top: 50%;
    left: 50%;
    width: 280px;
    height: 46px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
